.product-page {
    display: grid;

    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;

    row-gap: 7px;
    column-gap: 50px;
    padding: 87px 75px 115px 75px;

    &__title {
        font-size: 28px;
        line-height: 36px;
        font-weight: 600;
        color: var(--dark-green-color);

        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    &__media {
        grid-row: 1 / 4;
        grid-column: 1 / 2;
    }

    &__text {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    &__description {
        font-size: 16px;
        line-height: 20px;
    }

    &__downloads {
        margin-top: 32px;
        color: var(--green-color);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;

        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    &__downloads {
        & a {
            width: 100%;
            cursor: pointer;
            border: 1px solid var(--green-color);
            border-radius: var(--radius-sm);
            background-color: white;
            padding: 8px 25px 8px 12px;
            white-space: nowrap;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & svg {
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(-20%, 30%);
            background: white;
            padding: 2px;
        }
    }
}

@media (--viewport-sm) {
    .product-page {
        &__downloads {
            grid-template-columns: 1fr;
        }
    }
}

@media (--viewport-lg) {
    .product-page {
        display: flex;
        flex-direction: column;
        padding: 18px 36px;

        &__title {
            order: 1;
        }

        &__media {
            order: 2;
            margin-top: 16px;
        }

        &__text {
            margin-top: 32px;
            order: 4;
        }

        &__description {
            font-size: 16px;
            line-height: 20px;
        }

        &__downloads {
            order: 3;
        }
    }
}
