.product-card {
    position: relative;
    display: flex;
    background-color: white;
    flex-direction: column;
    border-radius: 18px;
    aspect-ratio: 1 / 1;
    padding: 18px;

    &__badge {
        display: block;
        width: fit-content;
        margin-top: 24px;
        padding: 3px 9px;
        color: var(--green-color);
        border: 1px solid var(--green-color);
        border-color: var(--green-color);
        border-radius: 12px;
        font-size: 10px;
    }

    &__name {
        margin-top: 12px;
        font-size: 20px;
        font-weight: 400;
    }

    &__button {
        display: flex;
        padding: 0;
        margin-top: auto;
        margin-left: auto;
        color: var(--grey-color);
    }
}
